* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: cursive, A Negaar;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #00BB8C; */
    /* background-color: #64ffda; */
    background-color: #ffffff;
}

form {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 20px 28px;
    width: 400px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    border: 1px solid #ded9ee;
    padding: 16px;
    border-radius: 8px;
    color: #1b1b1b;
    display: block;
    transition: 180ms ease-in border-color;
}

input::placeholder {
    /* color: grey; */
    font-weight: 300;
    /* text-shadow: 3px 3px 1px #00e1ff; */
    color: #000000;
}

input:focus {
    border-color: #89888b;
}

button[type="submit"],
input[type="submit"] {
    background-color: #d7d1c9;
    color: #000000;
    padding: 12px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    width: 100%;
}

img {
    display: block;
    width: 110px;
    margin: 0 auto;
}